body {
	text-align: center;
}

h1 {
	font-size: 80px;
	font-family: Century Gothic;
	background: black;
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
}

#slogan {
	font-style: italic;
	font-size: bold;
	font-family: Century Gothic;
	font-size: 45px;
}

#description{
	background: black;
	color: white;
	font-family: Century Gothic;
	font-size: 20px;
	font-style: italic;
	padding: 15px;
}

#list{
	background: black;
	color: white;
	font-family: Century Gothic;
	font-size: 20px;

}
ul {
	display: inline-block;
	text-align: left;
	padding: 30px;
}
